body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  background: #E5E5E5;
}

img {
  object-fit: cover;
  margin: 0;
  padding: 0;
}

h1,
h2,
p {
  margin: 0;
}

main {
  width: 400px;
  height: 800px;
  background: #f7f7f7;
}

ul,
li,
input {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.botao {
  padding: 10px 16px;
  color: #fff;
  font-size: 1rem;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background: #0443E4;
  border: 2px solid #f7f7f7;
  transition: .2s;
}

.botao.proximo {
  position: absolute;
  right: 200px;
}

.botao.proximo::after {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-left: 4px;
  background: url(/img/icones/seta-direita.svg);
  transition: transform .2s;
}

.botao.proximo:hover::after {
  transform: translateX(4px);
}

.botao.anterior {
  position: absolute;
  left: 200px;
}

.botao.anterior::before {
  content: "";
  width: 20px;
  height: 20px;
  margin-right: 4px;
  background: url(/img/icones/seta-esquerda.svg);
  transition: transform .2s;
}

.botao.anterior:hover::before {
  transform: translateX(-4px);
}