body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

img {
  object-fit: cover;
}

h1,
h2,
p {
  margin: 0;
}

main {
  max-width: 400px;
  max-height: 800px;
  background: #F7F7F7;
}

ul,
li {
  list-style: none;
  margin: 0;
}